<a href="https://colab.research.google.com/github/StephJones87/Udemy_Biostatistics_Fundamentals/blob/master/09_Comparing_means.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from scipy import stats

In [3]:
from google.colab import files
data_file = files.upload()

Saving parametric.xlsx to parametric.xlsx

In [0]:
df = pd.read_excel("parametric.xlsx")

In [5]:
df.head()

  Group Treatment  Age  Cholesterol
0     I         A   74          6.7
1     I         A   68          6.7
2    II         B   21          5.0
3     I         B   66          3.7
4   III         A   37         10.3

In [6]:
df.shape

(300, 4)

In [7]:
df.Cholesterol.mean()

6.007333333333333

In [8]:
stats.ttest_1samp(df.Cholesterol, 6)

Ttest_1sampResult(statistic=0.06626994666948996, pvalue=0.9472071983074379)

In [9]:
# for these two groups is there a statistically significant difference between the groups and their cholesterol values

stats.ttest_ind(df[df.Treatment== "A"].Cholesterol, 
                df[df.Treatment == "B"].Cholesterol)

Ttest_indResult(statistic=1.6429180984069158, pvalue=0.10145456832306156)

In [0]:
# so a p value of 0.1 means that there is no statistically significant difference in the values between the different groups

In [11]:
# is there any difference between the ages 
stats.f_oneway(df[df.Group == "I"]["Age"],
               df[df.Group == "II"]["Age"],
               df[df.Group == "III"]["Age"])

F_onewayResult(statistic=0.614628397318797, pvalue=0.5415283010374106)