<a href="https://colab.research.google.com/github/StephJones87/Udemy_Biostatistics_Fundamentals/blob/master/Descriptive_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import numpy as np

In [0]:

from google.colab import files
data_file = files.upload()

Saving Comorbid.xlsx to Comorbid.xlsx

In [0]:
df = pd.read_excel('Comorbid.xlsx')

In [0]:
# sanity check
df.head()

   Age Grade  ... Hypertension  DiabetesMellitus
0   77     B  ...           No                No
1   64     A  ...          Yes                No
2   87     A  ...           No                No
3   70     A  ...           No                No
4   85     B  ...          Yes                No

[5 rows x 7 columns]

In [0]:
# measures of central tendency - start with numberical variables - another term point estimates

In [0]:
# getting all the variable names 
df.columns

Index(['Age', 'Grade', 'Logistics', 'Temperature', 'Pneumonia', 'Hypertension',
       'DiabetesMellitus'],
      dtype='object')

In [0]:
# mean of the age
df.Age.mean()

55.10385259631491

In [0]:
df.Age.median()

56.0

In [0]:
df.DiabetesMellitus.mode()

0    No
dtype: object

In [0]:
# value counts - goes down the column - find the unique values and retrun them and what they are

df.DiabetesMellitus.value_counts()

No     532
Yes     65
Name: DiabetesMellitus, dtype: int64

In [0]:
# if you want the fraction of patient who have diabetes and fraction that dont

# df.DiabetesMellitus.value_counts(normalize = TRUE)

In [0]:
# only select where Grade is A, take their Age column and take the mean age of that subset
df[df.Grade == 'A'].Age.mean()

54.00892857142857

In [0]:
df[df.Temperature == 37].Age.mean()

61.0

In [0]:
# what was the minimum age of the patients 
df.Age.min()

18

In [0]:
# what was the max age of the patient
df.Age.max()

90

In [0]:
df.Age.max() - df.Age.min()

72

In [0]:
# what is the standard deviation of the mean?
df.Age.std()

21.71256560765737

In [0]:
# qantiles / quartiles / percentiles

df.Age.quantile([0, 0.25, 0.5, 0.75, 1])

0.00    18.0
0.25    35.0
0.50    56.0
0.75    75.0
1.00    90.0
Name: Age, dtype: float64

In [0]:
# numpy function to do percentile
np.percentile(df.Age.values, [0, 25, 50, 70, 90, 100])

array([18., 35., 56., 71., 84., 90.])

In [0]:
# stats is a sublibrary of scipy 
from scipy import stats

In [0]:
stats.iqr(df.Age)

40.0

In [0]:
df.Age.describe()

count    597.000000
mean      55.103853
std       21.712566
min       18.000000
25%       35.000000
50%       56.000000
75%       75.000000
max       90.000000
Name: Age, dtype: float64