<a href="https://colab.research.google.com/github/StephJones87/Udemy_Biostatistics_Fundamentals/blob/master/Working_with_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files

In [2]:
data_file = files.upload()

Saving Comorbid.xlsx to Comorbid.xlsx

In [0]:
import pandas as pd

In [0]:
df = pd.read_excel('Comorbid.xlsx')

In [5]:
df.head()

   Age Grade  ... Hypertension  DiabetesMellitus
0   77     B  ...           No                No
1   64     A  ...          Yes                No
2   87     A  ...           No                No
3   70     A  ...           No                No
4   85     B  ...          Yes                No

[5 rows x 7 columns]

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.head()

   Age Grade  ... Hypertension  DiabetesMellitus
0   77     B  ...           No                No
1   64     A  ...          Yes                No
2   87     A  ...           No                No
3   70     A  ...           No                No
4   85     B  ...          Yes                No

[5 rows x 7 columns]

In [9]:
df.tail()

     Age Grade               Logistics  ...  Pneumonia Hypertension DiabetesMellitus
592   54     A  Admit to Ward for Care  ...         No           No               No
593   40     B  Admit to Ward for Care  ...         No           No               No
594   18     A  Admit to Ward for Care  ...         No           No               No
595   33     A  Admit to Ward for Care  ...         No           No               No
596   24     B  Admit to Ward for Care  ...         No          Yes               No

[5 rows x 7 columns]

In [10]:
df.columns

Index(['Age', 'Grade', 'Logistics', 'Temperature', 'Pneumonia', 'Hypertension',
       'DiabetesMellitus'],
      dtype='object')

In [11]:
df.shape

(597, 7)

In [12]:
df.Temperature

0      37.4
1      38.0
2      38.5
3      38.2
4      38.1
       ...
592    39.9
593    39.0
594    39.1
595    38.9
596    37.3
Name: Temperature, Length: 597, dtype: float64

In [13]:
df.Grade

0      B
1      A
2      A
3      A
4      B
      ..
592    A
593    B
594    A
595    A
596    B
Name: Grade, Length: 597, dtype: object

In [14]:
df[df.Grade == "A"]

     Age Grade  ... Hypertension  DiabetesMellitus
1     64     A  ...          Yes                No
2     87     A  ...           No                No
3     70     A  ...           No                No
7     29     A  ...          Yes                No
8     73     A  ...           No                No
..   ...   ...  ...          ...               ...
589   61     A  ...           No                No
590   60     A  ...           No                No
592   54     A  ...           No                No
594   18     A  ...           No                No
595   33     A  ...           No                No

[336 rows x 7 columns]