<a href="https://colab.research.google.com/github/StephJones87/Udemy_Biostatistics_Fundamentals/blob/master/Working_with_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files

In [2]:
data_file = files.upload()

Saving Comorbid.xlsx to Comorbid.xlsx

In [0]:
import pandas as pd

In [0]:
df = pd.read_excel('Comorbid.xlsx')

In [5]:
df.head()

   Age Grade  ... Hypertension  DiabetesMellitus
0   77     B  ...           No                No
1   64     A  ...          Yes                No
2   87     A  ...           No                No
3   70     A  ...           No                No
4   85     B  ...          Yes                No

[5 rows x 7 columns]

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.head()

   Age Grade  ... Hypertension  DiabetesMellitus
0   77     B  ...           No                No
1   64     A  ...          Yes                No
2   87     A  ...           No                No
3   70     A  ...           No                No
4   85     B  ...          Yes                No

[5 rows x 7 columns]

In [8]:
df.tail()

     Age Grade               Logistics  ...  Pneumonia Hypertension DiabetesMellitus
592   54     A  Admit to Ward for Care  ...         No           No               No
593   40     B  Admit to Ward for Care  ...         No           No               No
594   18     A  Admit to Ward for Care  ...         No           No               No
595   33     A  Admit to Ward for Care  ...         No           No               No
596   24     B  Admit to Ward for Care  ...         No          Yes               No

[5 rows x 7 columns]

In [9]:
df.columns

Index(['Age', 'Grade', 'Logistics', 'Temperature', 'Pneumonia', 'Hypertension',
       'DiabetesMellitus'],
      dtype='object')

In [10]:
df.shape

(597, 7)

In [11]:
df.Temperature

0      37.4
1      38.0
2      38.5
3      38.2
4      38.1
       ...
592    39.9
593    39.0
594    39.1
595    38.9
596    37.3
Name: Temperature, Length: 597, dtype: float64

In [12]:
df.Grade

0      B
1      A
2      A
3      A
4      B
      ..
592    A
593    B
594    A
595    A
596    B
Name: Grade, Length: 597, dtype: object

In [13]:
df[df.Grade == "A"]

     Age Grade  ... Hypertension  DiabetesMellitus
1     64     A  ...          Yes                No
2     87     A  ...           No                No
3     70     A  ...           No                No
7     29     A  ...          Yes                No
8     73     A  ...           No                No
..   ...   ...  ...          ...               ...
589   61     A  ...           No                No
590   60     A  ...           No                No
592   54     A  ...           No                No
594   18     A  ...           No                No
595   33     A  ...           No                No

[336 rows x 7 columns]

In [14]:
df[df.Temperature >= 39.5]

     Age Grade  ... Hypertension  DiabetesMellitus
49    22     B  ...           No                No
54    28     B  ...           No                No
60    49     B  ...           No                No
67    38     B  ...          Yes                No
72    59     A  ...          Yes                No
96    34     B  ...           No                No
103   84     A  ...          Yes                No
113   63     A  ...          Yes               Yes
118   26     A  ...          Yes                No
121   66     B  ...          Yes                No
126   59     A  ...          Yes                No
129   65     A  ...           No                No
142   63     B  ...           No                No
162   54     A  ...          Yes                No
167   25     B  ...          Yes                No
190   23     B  ...          Yes                No
191   87     B  ...           No                No
202   66     A  ...          Yes               Yes
204   57     A  ...           No                No
207   87     B  ...           No                No
210   40     B  ...           No                No
212   84     B  ...           No                No
218   36     B  ...          Yes                No
226   87     B  ...           No                No
234   32     A  ...          Yes                No
236   69     A  ...          Yes                No
265   24     A  ...           No                No
266   87     B  ...           No                No
289   46     B  ...           No                No
298   81     A  ...           No                No
304   61     A  ...           No                No
307   43     B  ...           No                No
310   21     B  ...          Yes                No
311   82     B  ...           No                No
314   88     B  ...           No                No
322   58     A  ...           No                No
328   25     A  ...           No                No
331   25     A  ...          Yes                No
342   85     B  ...           No                No
355   32     B  ...          Yes                No
356   46     A  ...           No                No
380   85     B  ...          Yes                No
394   57     A  ...           No                No
397   31     A  ...          Yes                No
403   69     B  ...           No                No
408   80     B  ...           No                No
412   45     A  ...           No                No
449   81     A  ...           No                No
453   40     A  ...          Yes                No
471   53     B  ...           No                No
501   24     A  ...           No                No
512   81     B  ...          Yes                No
513   18     A  ...          Yes                No
522   53     B  ...           No                No
573   79     B  ...          Yes                No
576   51     A  ...           No                No
585   40     B  ...          Yes                No
592   54     A  ...           No                No

[58 rows x 7 columns]

In [15]:
df[(df.Grade == "A") & (df.Temperature >= 39.5)]

     Age Grade  ... Hypertension  DiabetesMellitus
72    59     A  ...          Yes                No
103   84     A  ...          Yes                No
113   63     A  ...          Yes               Yes
118   26     A  ...          Yes                No
126   59     A  ...          Yes                No
129   65     A  ...           No                No
162   54     A  ...          Yes                No
202   66     A  ...          Yes               Yes
204   57     A  ...           No                No
234   32     A  ...          Yes                No
236   69     A  ...          Yes                No
265   24     A  ...           No                No
298   81     A  ...           No                No
304   61     A  ...           No                No
322   58     A  ...           No                No
328   25     A  ...           No                No
331   25     A  ...          Yes                No
356   46     A  ...           No                No
394   57     A  ...           No                No
397   31     A  ...          Yes                No
412   45     A  ...           No                No
449   81     A  ...           No                No
453   40     A  ...          Yes                No
501   24     A  ...           No                No
513   18     A  ...          Yes                No
576   51     A  ...           No                No
592   54     A  ...           No                No

[27 rows x 7 columns]

In [16]:
df[df.Grade != "A"]

     Age Grade  ... Hypertension  DiabetesMellitus
0     77     B  ...           No                No
4     85     B  ...          Yes                No
5     30     B  ...          Yes               Yes
6     60     B  ...          Yes                No
11    74     B  ...          Yes               Yes
..   ...   ...  ...          ...               ...
586   65     B  ...           No                No
587   37     B  ...           No                No
591   54     B  ...           No                No
593   40     B  ...           No                No
596   24     B  ...          Yes                No

[261 rows x 7 columns]